header {
  display: flex;
}

.header-logo {
  display: flex;
  width: 50%;
  position: relative;
  width: 209px;
  height: 44px;
  top: 26px;
  left: 104px;
}

.button-div {
  display: flex;
  width: 50%;
  position: relative;
  width: 118px;
  height: 42px;
  top: 51px;
  left: 1250px;
  /* radius: 24px; */
  padding: 12px, 24px, 12px, 24px;
  gap: 12px;
}
